@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  background-color: #EFEFF2;
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF !important;
}